{% extends 'base.html.twig' %}

{% block body %}

    <script>
        var idQuiz = {{ mcq.id }};
    </script>
    
    <div class="container">
        <div class="row voffset4">
            <div class="col-md-8">
                <div id="text">                                    
                    <div>
                        {{ mcq.text|nl2br }}                                    
                    </div>
                    
                    <div class="centre-text"><a class="btn btn-default voffset4" id="btn-text" role="button">Next</a></div>
                </div>
                
                {% include 'default/rate_text.html.twig' with {'style':'display: none;'} %}
                
                <div id="mcq"  style="display: none;">
                    <h1>Multiple choice questions</h1>
                    <div>
                        {% for question in mcq.questions %}
                            {% include 'default/display_question.html.twig' with {'question': question } %}
                        {% endfor %}
                        
                        <a class="btn btn-default voffset4" id="btn-submit-mcq" role="button" href="{{ path('next') }}">Next</a>
                        <div id="incomplete-mcq" style="display: none;">Please answer all the questions</div>
                    </div>
                </div>
            </div>                
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>    
        var prereading = 0;
    </script>
        
    <script src="{{ asset('js/quiz.js') }}"></script>
{% endblock %}