<div class="voffset4">
    {{ question.text|replace({"((":"<b>", "))":"</b>"}) | raw}}<br/>
    <ul style="list-style: none">
    {% if not_random is defined %}
        {% for answer in question.answers %}
            <li>
                <input id="a{{answer.id}}" class="answer" type="checkbox" data-correct="{{question.nocorrectanswers}}" name="q{{question.id}}" value="a{{answer.id}}" />
                {{ answer.text | replace({"((":"<b>", "))":"</b>"}) | raw}}
            </li>
        {% endfor %}                        
    {% else %}
        {% for answer in question.answers|shuffle %}
            <li>
                <input id="a{{answer.id}}" class="answer" type="checkbox" data-correct="{{question.nocorrectanswers}}" name="q{{question.id}}" value="a{{answer.id}}" />
                {{ answer.text | replace({"((":"<b>", "))":"</b>"}) | raw}}
            </li>
        {% endfor %}                        
    {% endif %}
    </ul>

    <div id="help-q{{question.id}}">
    {% if question.nocorrectanswers < 2 %}
        <em>Select one answer</em>
    {% else %}
        <em>Select {{ question.nocorrectanswers }} answers</em>
    {% endif %}
    </div>

    <div id="helpchange-q{{question.id}}" style="display:none;">
    {% if question.nocorrectanswers < 2 %}
        <em>To change your answer unselect your answer</em>
    {% else %}
        <em>To change your answer unselect one of your answers</em>
    {% endif %}    
    </div>
</div>
