{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/cloze.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row voffset4">
            <div class="col-md-8">                                                
                <div class="voffset4" id="results">
                    {% set counter = 0 %}
                    {% for word in text %}                        
                        {% if word[0] == 1 %}
                            <span class="answer 
                            {% if word[2] == 1 %} %}
                                correct-answer">{{ word[1]|raw }}
                            {% else %}
                                wrong-answer">{{ word[3]|raw }}
                            {% endif %}
                            </span>
                        {% else %}
                            <span>{{ word[1]|raw }}</span>
                        {% endif %}
                    {% endfor %}
                    
                    <div class="voffset4 text-center">
                        <a id="try-again" class="btn btn-default" role="button">Try again &raquo;</a>
                    </div>
                </div>
                                                                                
                <div class="voffset4" id="text">
                    <h3>Try to fill in the gaps using the words from the right</h3>
                    {% set counter = 0 %}
                    {% for word in text %}
                        {% if word[0] == 1 %}
                            {% if word[2] == 1 %}
                                <span>{{ word[1]|raw }}</span>
                            {% else %}
                                <div id="gap{{ counter }}" ondrop="drop(event)" ondragover="allowDrop(event)" class="gap">&nbsp;</div>
                            {% endif %}
                            {% set counter = counter + 1 %}
                        {% else %}
                            <span>{{ word[1]|raw }}</span>                             
                        {% endif %}
                    {% endfor %}
                
                    <div class="voffset5 text-center">
                        <a id="submit-result" class="btn btn-default disabled" role="button">Check again &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">                
                <div data-spy="affix" id="words">
                    {% set counter = 0 %}
                    {% set no_gaps = 0 %}
                    {% for word in text %}
                        {% if word[0] == 1 %}
                            {% if word[2] == 2 %}
                                <div id="word{{ counter }}" ondragstart="drag(event)" 
                                        class="filler filler-in-list" draggable="true">{{ word[1] }}</div>
                                {% set no_gaps = no_gaps + 1 %}
                            {% endif %}
                            {% set counter = counter + 1 %}
                        {% endif %}                    
                    {% endfor %}          
                </div>
                
                <script>
                    var no_gaps = {{ no_gaps }};
                    var filled_gaps = 0;     
                    var redirection = "feedback";                    
                </script>
                
            </div>
        </div>
    </div>                
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/cloze.js') }}"></script>
{% endblock %}