{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/survey.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-center">Demographic Questionnaire</h2>
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.age) }}
                    {{ form_row(form.years_edu) }}
            </div>
        </div>
            
        <div class="form-group">
        <div class="row">
            <div class="col-md-8"><strong>Have you been diagnosed with any of the following?</strong></div>
        </div>
        
        <div class="row">
            <div class="col-md-6">Autism Spectrum Disorder: </div>
            <div class="col-md-2 text-right">
                <input type="radio" name="asd" value="yes">Yes
                <input type="radio" name="asd" value="no">No
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-6">Dyslexia: </div>
            <div class="col-md-2 text-right">
                <input type="radio" name="dys" value="yes">Yes
                <input type="radio" name="dys" value="no">No
            </div>
        </div>
            
            
        <div class="row">
            <div class="col-md-6">Aphasia:</div>
            <div class="col-md-2 text-right">
                <input type="radio" name="aph" value="yes">Yes
                <input type="radio" name="aph" value="no">No
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-8">
                    Other conditions affecting reading (please specify)
                    <div><input id="other-conditions" type="text" name="other" class="form-control"></div>
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-8">
                    If you have answered YES to any of these, please specify when 
                    you received your formal diagnosis:
                    <div><input id="diag-date" type="text" name="diag-date" class="form-control"></div>
            </div>
        </div>
        </div>
            
        <div class="row voffset3">
            <div class="col-md-6"><strong>Is English your native language?</strong></div>
            <div class="col-md-2 text-right">
                <input type="radio" name="en_nat" value="yes">Yes
                <input type="radio" name="en_nat" value="no">No
            </div>
        </div>
            
        <div class="row voffset3">
            <div class="col-md-6"><strong>Do you speak other languages?</strong></div>
            <div class="col-md-2 text-right">
                <input id="other_lang_yes" type="radio" name="other_lang">Yes
                <input id="other_lang_no" type="radio" name="other_lang">No
            </div>
        </div>
            
        <div class="row" id="lang-known-container">
            <div class="col-md-8 form-inline">
                <strong>Other language(s) spoken: </strong><span id='list-langs'></span><br/>
                <input class="form-control" type="text" id="language_spoken" placeholder="Language">
                <select class="form-control" id='level' name="level">
                    <option value="Level of fluency" disabled selected>Level of fluency</option>
                    <option value="Native">Native</option>
                    <option value="Fluent">Fluent</option>
                    <option value="Advanced">Advanced</option>                    
                    <option value="Intermediate">Intermediate</option>
                    <option value="Beginner">Beginner</option>
                </select>
                <a id="add-language" class="btn btn-default disabled" role="button">Add to list of languages spoken</a>
                
                <br/><br/>                  
            </div>            
        </div>
            
        <div class="row voffset3">
            <div class="col-md-6">
                <strong>Do you normally read books in your free time?</strong>
            </div>
            <div class="col-md-2 text-right">
                <input id="read_yes" type="radio" name="read">Yes
                <input id="read_no" type="radio" name="read">No
            </div>
        </div>
            
        <div class="row" id="reading-container">
            <div class="col-md-8 form-inline">
                If you have answered YES, please specify how often you read books: 
                <select class="form-control" id='freq' name="freq">                   
                    <option value="Daily">Daily</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Monthly">Monthly</option>                    
                    <option value="LessMonth">Less than once a month</option>
                    <option value="LessYear">Less than once a year</option>
                </select>
            </div>
        </div>
            
        <div class="row voffset3">
            <div class="col-md-6">
                <strong>Are you currently employed?</strong>
                <div style="margin-left: 1em;">
                    <input id="employed_full" type="radio" name="employed">Yes, I am employed full time<br/>
                    <input id="employed_part" type="radio" name="employed">Yes, I am employed part-time<br/>
                    <input id="employed_no" type="radio" name="employed">No, I am not currently employed<br/>
                </div>
            </div>
        </div>
            
        <div class="row voffset3">
            <div class="col-md-6">
                <strong>Have you ever been employed in the past?</strong>
                <div style="margin-left: 1em;">
                    <input id="past_employed_full" type="radio" name="past_employed">Yes, I have been employed full time<br/>
                    <input id="past_employed_part" type="radio" name="past_employed">Yes, I have been employed part-time<br/>
                    <input id="past_employed_no" type="radio" name="past_employed">No, I have never been employed<br/>
                </div>
            </div>
        </div>
            
                    
        <div class="row">
            <div class="col-md-8">
                    {{ form_widget(form) }}
                    
                    <div>
                        <a id="submit-questionnaire" class="btn btn-default voffset4 disabled" role="button">Submit questionnnaire</a>
                    </div>
                    
                    
                    {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/survey.js') }}"></script>
    <script src="{{ asset('js/utils.js') }}"></script>
    <script src="{{ asset('js/openpgp/openpgp.min.js') }}"></script>
    <script>
        var publicKeyString = {{ enc_key|raw }};
        openpgp.initWorker({ path:'{{ asset('js/openpgp/openpgp.worker.min.js') }}' });                
    </script>
{% endblock %}
